<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dueto</title>
</head>
<body>
<h1>factors affecting population increase</h1>
<h4>space</h4><p>New towns and cities are coming up to accommodate the growing population. This has put a great strain on agriculture land and forests. Clearing of forests for habitation has caused new problems, particularly soil erosion and floods.

</p>
<h4>food</h4><pre>Large families with moderate means are unable to provide adequate and balanced diet to the children. The later suffer from malnutrition and grow into less fit members of the society.</pre>
<h4>employment</h4><pre>Rise in population has resulted in large scale unemployment. New employment schemes introduced by government have failed to absorb the fast growing numbers.</pre>
<h4>education</h4><p>Increase in population has led to rush in educational institutions and to lowering of educational standards. A large family is unable to afford higher education to the children.</p>

</body>
</html>