<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aims</title>
</head>
<body>
<h1>Census</h1>
<p>Count of people of a country is called census. Census is an official numeration of population after every ten years in India, along with certain social and economic statistics. This not only helps us in knowing the total number of population but also the latest distribution of population, sex ratio, age composition, occupational structure and literacy of a particular country.</p>
<h3>Aim of Population Study</h3>
<pre>Population education aimed at making the students aware of

           1. The consequences of uncontrolled population growth;

           2. The advantage of a small family norm;

           3. The growth, distribution and density of population; and

           4. The  relation of population to the standards of life.

The scientific study of human population is called demography. It deals with three phenomena:—

         1. Change in population ,i.e. growth or decline.

           2. Composition of the population, i.e. age group and sex ratio.

           3. Distribution of population in space.</pre>
</body>
</html>